.H1 {
    font-size: 2rem;
}

.H2 {
    font-size: 1.5rem;
}

.H3 {
    font-size: 1.25rem;
}

.H4 {
    font-size: 1rem;
}

.H5 {
    font-size: 0.875rem;
}

.H6 {
    font-size: 0.75rem;
}

.Bold {
    font-weight: bold;
}

.Regular {
    font-weight: normal;
}

.Italic {
    font-style: italic;
}

.Caps {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
